<!DOCTYPE html>
<html>
<head>
    <title>Diagnostics</title>
    
    <style type="text/css">
		body 
		{
			background: black;
		}
	</style>
    
    @* Use built-in Nancy diagnostics files*@
    <link rel="stylesheet" type="text/css" media="all" href="/_diag/_nancy/Resources/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/_diag/_nancy/Resources/text.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/_diag/_nancy/Resources/960.css" />
	<link rel="Stylesheet" type="text/css" media="all" href="/_diag/_nancy/Resources/main.css"  />
</head>
    <body>
        <div class="container_12">

            <div class="grid_6 header">
                <a href="/_diag/_nancy/">
                    <img src="/_diag/_nancy/Resources/logo.png" width="380px" alt="Nancy" />
                </a>
            </div>
            
            <div class="grid_6 header">
                <h1>Diagnostics</h1>
            </div>

            <div class="grid_3">&nbsp;</div>

            <div class="grid_2 header">
                <p>
                    <a href="/_diag/_nancy">Nancy Diagnostics</a>
                </p>
            </div>
            
            <div class="grid_4 header">
                <p>
                    <a href="/_diag/_elmah">Elmah Diagnostics</a>
                </p>
            </div>
        </div>
    </body>
</html>