@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Person>

@{
    this.Layout = this.ViewBag.IsModalOpened ? "/Views/Shared/Master.Popup.cshtml" : "/Views/Shared/Master.cshtml";
    this.ViewBag.Title = R.PersonCreate.Title;
}

<div class="hero-unit">
    <h1>@this.ViewBag.Title</h1>

    @Html.Partial("_PersonForm", Model)
</div>