@model IEnumerable<CmsPage>

@{
    ViewBag.Title = "Page Overview";
}

<h1>@ViewBag.Title</h1>

@{
    WebGrid grid = new WebGrid(
        source: Model
        //columnNames: new[] { "Id", "Title" , "Parent"}
        );
        
    @grid.GetHtml(
        columns: grid.Columns(
            grid.Column("Id"),
            grid.Column("Title", header: "Name", format: p => PageEditLink(p)),
            grid.Column("Parent", format: p => p.Parent != null ? p.Parent.Title : String.Empty)))
}

<p>
    @Html.ActionLink("Add new page", "Create")
</p>

@helper PageEditLink(dynamic page) {
    string title = page.Title;
    
    @Html.ActionLink(title, "Edit", new { id = page.Id })
}

