@{
    ViewBag.Title = R.Home.Index.Title;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Placeholder text.
            </p>
        </div>
    </section>
}

<h3>Hello</h3>
@R.Home.Index.IntroText