@{
    //this.ViewBag.Title = "Unknown Page";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/Content/bootstrap.min.css" rel="stylesheet">
        <link href="/Content/themes/base/jquery.ui.all.css" rel="stylesheet">

        <script type="text/javascript" src="/Scripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/Scripts/jquery-ui-1.10.1.min.js"></script>
        <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
        
        @this.RenderSection("Head", false)

        <title>@ViewBag.Title - @R.SharedStrings.Title</title>
    </head>
    <body>
        @this.RenderBody()
    </body>
</html>